<div class="container">
    <h2 class="sub-header">Summary</h2>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <th class="col-md-1">Detections</th>
                    <th class="col-md-1">Unique Cars</th>
                    <th class="col-md-1">Right Turns</th>
                    <th class="col-md-1">Straight</th>
                    <th class="col-md-1">Left Turns</th>
                    <th class="col-md-1">U-Turns</th>
                    <th class="col-md-1">Unknown</th>
                    <th class="col-md-2">Total Movements</th>
                    <th class="col-md-1">Code</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-md-2">{{vm.detections.length}}</td>
                        <td class="col-md-2">{{vm.uniqueVehicleCount}}</td>
                        <td class="col-md-1">{{vm.counts.right}}</td>
                        <td class="col-md-1">{{vm.counts.straight}}</td>
                        <td class="col-md-1">{{vm.counts.left}}</td>
                        <td class="col-md-1">{{vm.counts.uTurn}}</td>
                        <td class="col-md-1">{{vm.counts.unknown}}</td>
                        <td class="col-md-2">{{vm.counts.right+vm.counts.straight+vm.counts.left+vm.counts.uTurn}}</td>
                        <td class="col-md-2">{{vm.counts.right}}{{vm.counts.straight}}{{vm.counts.left}}{{vm.counts.uTurn}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h2 class="sub-header">Special Cases</h2>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <th class="col-md-2">Vehicles in intersection</th>
                    <th class="col-md-2">Vehicles</th>
                </thead>
                <tbody>
                    <tr ng-repeat="vehicle in vm.inIntersection">
                        <td class="col-md-2">{{$index + 1}}</td>
                        <td class="col-md-2">{{vehicle}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <th class="col-md-2">Vehicles with multiple appearances</th>
                    <th class="col-md-2">Vehicles</th>
                </thead>
                <tbody>
                    <tr ng-repeat="vehicle in vm.multipleAppearances">
                        <td class="col-md-2">{{$index + 1}}</td>
                        <td class="col-md-2">{{vehicle}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h2 class="sub-header">Movement Data</h2>
    <div class="row">
        <div class="col-md-6">
            <select ng-model="vm.filter">
            <option selected value="">all</option>
            <option value="left">left</option>
            <option value="right">right</option>
            <option value="straight">straight</option>
            <option value="u-turn">u-turn</option>
            </select>
        </div>
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <th class="col-md-2">Number</th>
                    <th class="col-md-2">Vehicle ID</th>
                    <th class="col-md-2">Entry</th>
                    <th class="col-md-2">Exit</th>
                    <th class="col-md-2">Movement</th>
                    <th class="col-md-2">Duration</th>
                </thead>
                <tbody>
                    <tr ng-repeat="movement in vm.carMovements | filter:vm.filter">
                        <td class="col-md-2">{{$index + 1}}</td>
                        <td class="col-md-2">{{movement.vehicle}}</td>
                        <td class="col-md-2">{{movement.origin}}</td>
                        <td class="col-md-2">{{movement.destination}}</td>
                        <td class="col-md-2">{{movement.type}}</td>
                        <td class="col-md-2">{{movement.endTime - movement.startTime}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
